[submodule "code/timebanksf"]
	path = code/timebanksf
	url = https://github.com/apptivism/timebanksf
[submodule "code/BACE-Mobile-App"]
	path = code/BACE-Mobile-App
	url = https://github.com/romyilano/BACE-Mobile-App
